<!DOCTYPE html>
<html>
<head>
  <title>NewTuiter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
<body>

<%= yield %>

</body>
</html>
