<!DOCTYPE html>
<html>
<head>  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <title><%= titulo(yield(:title)) %></title>
  <%= render 'layouts/shim' %>  
</head>
	
<body>
<header class="navbar navbar-fixed-top">
  <%= render 'layouts/header' %>
</header>
<div class="container">
  <% flash.each do |key, value| %>        
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
  <%= yield %>
  <footer class="footer">
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </footer>
</div>
</body>
</html>
